# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.old
.dev.vars

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/


#ignore package locks
*/package-lock.json
*/yarn.lock

#ignore generated test files
**/coverage/*

#ignore Tesseract trained data
*.traineddata

#ignore Codex files
.codex

#ignore Claude Code files
.claude/*
logs/*

#ignore Wrangler files
.wrangler